.main-page {
  .map-container {
    width: 1356px;
    height: 629px;
    position: relative;
    background: url("../../assets/images/map_part.png") no-repeat center/cover;
  }
  .trafic-lights {
    position: absolute;
    z-index: 10;
    width: 10px;
    height: 20px;
    background: url("../../assets/images/traffic-light.svg") no-repeat center/cover;
  }
  .car-container {
    position: absolute;
    z-index: 11;
    width: 48px;
    height: 48px;
    top: 100px;
    left: 100px;
    border-radius: 48px;
    background: green;
  }
  .car {
    position: absolute;
    z-index: 12;
    width: 16px;
    height: 16px;
    top: 16px;
    left: 16px;
    border: 1px solid orange;
    border-radius: 16px;
    background: yellow;
    cursor: pointer;
  }
  .test{
    position: absolute;
    z-index: 11;
    border-radius: 48px;
    background: rgba(12,250,12,0.5);
  }
  .light-center, .car-center {
    position: absolute;
    z-index: 13;
    width: 1px;
    height: 1px;
    background: purple;
  }
}
