.main-page {
  .map-container {
    width: 1356px;
    height: 629px;
    position: relative;
    background: url("../../assets/images/map_part.png") no-repeat center/cover;
  }
  .trafic-lights {
    position: absolute;
    z-index: 10;
    width: 10px;
    height: 20px;
    background: url("../../assets/images/traffic-light.svg") no-repeat center/cover;
  }
}
