.main-page
  .map-container(
  ref="ref_map_container"
  @mousemove="carMove"
  @mousedown="mouseDown"
  @mouseleave="carLeave"
  )
    .trafic-lights(
    v-for="light in trafic_lights"
    :style="[{'top': (light.y - light.height/2) + 'px'}, {'left': (light.x - light.width/2) + 'px'}, {'width': trafic_lights.width + 'px'}, {'height': trafic_lights.height + 'px'}, {'background-image': getLightState(light.state)}]"
    )
    .car(
    :style="[{'top': car.y + 'px'}, {'left': car.x + 'px'}]"
    @mousedown="carHold"
    @mouseup="carLeave"
    )
    .acceleration {{car.speed.toFixed(1)}} км.ч

