.main-page
  .map-container(
    ref="ref_map_container"
    @mousemove=""
    @mousedown="mouseDown"
  )
    .trafic-lights(
      v-for="light in trafic_lights"
      :style="[{'top': light.y + 'px'}, {'left': light.x + 'px'}]"
    )
